.cardpequeno-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 8px;
    height: 80px;
}

.cardpequeno-container > img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}