.cabecalho-principal{
    background-color: grey;
    padding: 20px 10px;
}
.pagina-ativa{
    color:white;
    background-color: darkcyan;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}
.cabecalho-direito{
    margin-top: 10px;
    float: right;
    margin-right: 32px;
    font-size: 10pt;
    vertical-align: middle;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 60vw;
    margin:0 auto;
}
#nodecor{
    text-decoration: none;
    color: white;
    padding: 8px;
    display: inline;
}
.rodape-principal{
    margin-top: 2%;
    background-color:#bfbfbf;
    padding: 20px 10px;
    opacity: 1;
}
.rodape-direito{
    float: right;
    margin-right: 32px;
    font-size: 10pt;
}
#titulo{
    display: inline;
    font-size: 20pt;
    text-align: left;
    margin-left: 16px;
}
#centro-texto{
    text-align: center;
}
.linha-grifada1{
    background-color: #bfbfbf;
}
.linha-grifada2{
    background-color: grey;
}
li{
    padding: 8px;
}
button{
    border: 2px solid black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 8px;
    border-radius: 15px;
}
.form-add{
    text-align: center;
}
h2.titulo{
    text-align: center;
    margin-top: 1%;
}
div.add-produtos-carrinho, div.vendedores{
    float: none;
    margin-bottom: 1%;
    color: white;
}
.margin{
    margin-left: 2%;
    display: inline;
}
#nome_comp, #nome_vendedor{
    margin-left: 2%;
    width: 250px;
}
div.secao{
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}
#masc, #fem, #dinheiro, #data_comp, #cartao_master, #cartaovisa{
    margin-left: 1%;
}
.button-cinza-claro{
    background-color: #bfbfbf;
    color: black;
}
.button-cinza{
    background-color: gray;
    color: black;
}
div.borda{
    border: 2px solid black;
    background-color: gray;
    text-align: center;
}
div.botao-hist-vendas{
    padding: 10px 5px;
    background-color: darkcyan;
    color: white;
    left: 81.5%;
    margin-top: 5px;
    border-radius: 15px;
    position: relative;
    display: inline-flex;
}
div.botao-hist-vendas-voltar{
    padding: 10px 5px;
    background-color: darkcyan;
    color: white;
    left: 92.3%;
    margin-top: 5px;
    border-radius: 15px;
    position: relative;
    display: inline-flex;
}
#tabela-com-filtro{
    text-align: center;
    margin: 0 auto;
}
td{
    padding: 8px 14px;
}
th{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}
tr:nth-child(even){
    background-color:#bfbfbf;
}
tr:nth-child(odd){
    background-color:gray;
}
#barra-busca{
    margin: 8px;
    position: relative;
    left: 24.4%;
}